body {
  background-color: #000;
  color: #fff;
  font-family: "SF Pro", sans-serif;
  text-align: center;
}
#mainTitle {
  margin-top: 100px;
}
a:link,
a:hover,
a:visited {
  color: #fff;
  text-decoration: none;
}

img {
  border-radius: 10px;
  max-width: 500px;
}

h1 {
  font-weight: bold;
}
ul {
  font-size: 1.2rem;
}
